.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #2e0b0b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginFormButton {
    width: 100%;
}
